src/wsdl/localhost_8080/ServiceExecutor/ServiceExecutorWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.serviceexecutor.policy.brokerage.cloudservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.serviceexecutor.policy.brokerage.cloudservices/" name="ServiceExecutorWS">
<types>
<xsd:schema>
<xsd:import namespace="http://service.serviceexecutor.policy.brokerage.cloudservices/" schemaLocation="http://localhost:8080/ServiceExecutor/ServiceExecutorWS?xsd=1"/>
</xsd:schema>
</types>
<message name="executeService">
<part name="parameters" element="tns:executeService"/>
</message>
<message name="executeServiceResponse">
<part name="parameters" element="tns:executeServiceResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="DAOException">
<part name="fault" element="tns:DAOException"/>
</message>
<message name="ServiceExecutionException">
<part name="fault" element="tns:ServiceExecutionException"/>
</message>
<portType name="ServiceExecutorWS">
<operation name="executeService">
<input wsam:Action="http://service.serviceexecutor.policy.brokerage.cloudservices/ServiceExecutorWS/executeServiceRequest" message="tns:executeService"/>
<output wsam:Action="http://service.serviceexecutor.policy.brokerage.cloudservices/ServiceExecutorWS/executeServiceResponse" message="tns:executeServiceResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://service.serviceexecutor.policy.brokerage.cloudservices/ServiceExecutorWS/executeService/Fault/IOException"/>
<fault message="tns:DAOException" name="DAOException" wsam:Action="http://service.serviceexecutor.policy.brokerage.cloudservices/ServiceExecutorWS/executeService/Fault/DAOException"/>
<fault message="tns:ServiceExecutionException" name="ServiceExecutionException" wsam:Action="http://service.serviceexecutor.policy.brokerage.cloudservices/ServiceExecutorWS/executeService/Fault/ServiceExecutionException"/>
</operation>
</portType>
<binding name="ServiceExecutorWSPortBinding" type="tns:ServiceExecutorWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="executeService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="DAOException">
<soap:fault name="DAOException" use="literal"/>
</fault>
<fault name="ServiceExecutionException">
<soap:fault name="ServiceExecutionException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ServiceExecutorWS">
<port name="ServiceExecutorWSPort" binding="tns:ServiceExecutorWSPortBinding">
<soap:address location="http://localhost:8080/ServiceExecutor/ServiceExecutorWS"/>
</port>
</service>
</definitions>